@import "variables";
section{
  color: white;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  topnav{
    display: flex;
    height: 8vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background: #1a1a1a;
    box-sizing: border-box;
  }
  main {
    display: flex;
    height: 92%;
    width: 100%;
    nav {
      transition:.3s;
      color: aliceblue;
      display: flex;
      height: 100vh;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      background-color: #222222;
      overflow: hidden;

      .myLogo {
        color: $primary-color;
        display: flex;
        font-size: 1.3rem;
        width: 100%;
        height: 10vh;
        justify-content: center;
        align-items: center;
        box-shadow: #000000 0px 1px 2px;
      }

      .nav-items {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        .nav-item {
          margin: 5px 0;
          border-bottom: #1a1a1a 1px solid;
          padding: 10px 20px;
          display: flex;
          height: 20px;
        }

        .nav-item:hover {
          background-color: #282c34;
          cursor: pointer;
          border-radius: 5px;
          box-shadow: #212121 0px 0px 3px;
        }
      }
    }

    .content-area {
      width: 100vw;
      height: 100%;
      display: flex;
      //justify-content: center;
      //align-items: center;
    }
  }
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .movie-card {
    margin: 10px 10px;
    height: 300px;
    width: 200px;
    border: #F44336 1px solid;
    img {
      height: 75%;
    }
  }
}
.open{
  width: 20vw;
}
.close{
  width: 0vw;
}

.main-body{
  padding: 10px 15px;
  width: 100%;
  display: flex;
  .left{
    img{
      height: 500px;
    }
  }
  .right{
    flex: 1;
    padding: 0 100px;
  }

}