nav{
    display: flex;
    height: 100vh;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 20vh;
    background-color: #61dafb;
    .myLogo{
        display: flex;
        font-size: 1.3rem;
        width: 100%;
        height: 10vh;
        justify-content: center;
        align-items: center;
    }
    .nav-items{
        height: 100%;
        width: 30%;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .nav-item{
            padding: 10px 0;
            display: flex;
            height: 20px;
        }
    }
}